.App {
  font-family: sans-serif;
  text-align: center;
}

.barFrame {
  width: 100%;
  background-color: #ddd;
}

.progress {
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
}
